
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.navbar{
    width: 216px;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 3px 12px 12px hsla(0, 0%, 0%, 0.08);
}
.navbar__logo{
   padding: 22px ;
}
.navbar__options a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 45px;
    margin: 12px 0px;
}

.navbar__options a:hover{
    background-color: hsla(226, 87%, 66%, 0.1);
}
.navbar__option{
    color :#000;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.main{
    padding: 30px 72px 0 32px;
    background-color: hsla(224, 79%, 96%, 1);
    width: 100%;
}
.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__title{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.head__profile{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;
}
